APP_NAME="titipin-web"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8082

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=titipin_db
DB_USERNAME=titipin
DB_PASSWORD=titipin

CACHE_STORE=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

FILESYSTEM_DISK=s3

AWS_ACCESS_KEY_ID=titipin_minio
AWS_SECRET_ACCESS_KEY=titipin_secret
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=titipin-bucket
AWS_ENDPOINT=http://minio:9000
AWS_USE_PATH_STYLE_ENDPOINT=true
AWS_URL=http://localhost:9000/titipin-bucket

FRONTEND_URL=http://localhost:3000

SESSION_DOMAIN=localhost
SANCTUM_STATEFUL_DOMAINS=localhost:3000,127.0.0.1